@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cats Visual Studio 2022 WebApp!!!</h1>
    <p>This file has been deployed using GitHub actions and is working yipee!</p>
   
</div>
